<div class="container">
    <div class="row">
        <div class="col-md-4">
            <menu></menu>
        </div>
        <div class="col-md-8">
            <content></content>

            
            <a class="btn btn-primary" data-toggle="modal" href='#comments'>Comment modal</a>
            <div class="modal fade" id="comments">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Comment Form</h4>
                        </div>
                        <div class="modal-body">
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            
            <a class="btn btn-primary" data-toggle="modal" href='#stackHolder'>Assign Stackholder</a>
            <div class="modal fade" id="stackHolder">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Asign Stackholder Content</h4>
                        </div>
                        <div class="modal-body">
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="btnGroup">
                
                <button type="button" class="btn btn-info">Prev</button>
                <button type="button" class="btn btn-success">Next</button>
                
            </div>
        </div>
    </div>
</div>